
  .info{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  .title{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    text-shadow: 2px 2px 2px rgb(179, 179, 179);;
  }
  .video{
    background-image: url(/img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    padding-top: 100px;
    /* height: 100vh; */
  }
  .video-title{
    padding: 20px;
    margin: 0;
    margin-bottom: 50px;
    background-color: white;
    color: black;
  
  
  }
  .video_container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    padding-bottom: 100px;
    
  }
  .video_item iframe{
    margin-top: 50px;
    width: 400px;
    height: 400px;
    
    
  }
  .test{
    background: rgb(255,255,255);
      padding-bottom: 100px;
  }
  .google_form{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

h1.home-title_iduction{
  position: relative;
  padding-top: 15%;
}
  /* @media (max-width:900px){
    .home-title_induction{
      display: none;
    }
    
  } */